h2 {
    display: block;
    font-size: 3em;
    font-weight: 100;
    }
.header {
  padding: 4px; 
  text-align: center;
  background: #F8B195;
  color: white; 
  font-family: Helvetica, Arial, sans-serif;
}
.header h1 {
  font-size: 70px;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 0px;
}
.header p {
    padding-top: 0px;
    font-family: Helvetica, Arial, sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: #6C5B7B;
padding: 6px;
}
.navbar a {
    display: inline-block;
    color: white;
    font-family:Helvetica, Arial, sans-serif; 
    margin-left: 15%;
    font-size: 1.2em
}
.row {
  display: flex;
    padding-left: 15%;
    padding-right: 15%;
    font-family:Helvetica, Arial, sans-serif;
}

.column1 {
  flex: 20%;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 10%;
    padding-right: 5%;
}
.column2 {
  flex: 20%;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 10%;
    padding-left: 5%;}
.column2 p {
    font-family: Helvetica, Arial, sans-serif;
    font-size:1.5em;
}
footer {
    background-color: #C06C84;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    padding: 3px;
}
